Source: indicator-session
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-extras,
               dbus,
               debhelper (>= 9),
               intltool,
               libglib2.0-dev (>= 2.36),
               libgtest-dev,
               liburl-dispatcher1-dev,
               python,
               systemd,
Standards-Version: 3.9.3
Homepage: https://github.com/ubports/indicator-session

Package: indicator-session
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libpam-systemd,
         gnome-settings-daemon-schemas,
         gsettings-desktop-schemas,
         indicator-common,
Recommends: indicator-applet (>= 0.2) | indicator-renderer,
            gnome-screensaver | mate-screensaver,
            yelp,
            unity-control-center | gnome-control-center | mate-control-center,
            unity-control-center-signon | gnome-control-center-signon | mate-control-center,
Suggests: lightdm,
          apport,
          zenity
Description: indicator showing session management, status and user switching
 This indicator is designed to be placed on the right side of a panel and
 give the user easy control for changing their instant message status.  
 Switching to another user.  Starting a guest session.  Or controlling the
 status of their own session.
 .
 It requires some way to be hosted into a panel.  For the GNOME Panel the
 appropriate package is indicator-applet-session.
